<h1 align="center"> ASSIGNMENT no. 1</h1>

<h1 align="center"> CHAPTER 4: NumPy BASICS (ARRAYS and VECTORIZED Computation) </h1>

## Task: Write 50 NumPy Methods in jupyter notebook

In [1]:
import numpy as np

### Create a new Numpy Array Object from Python list and from Array

In [2]:
# Making list to Array
list1 = np.array([1,2,3,4,5])
list1

array([1, 2, 3, 4, 5])

In [3]:
# as array
list2= np.array({1,3,4,7,8,4})
list2

array({1, 3, 4, 7, 8}, dtype=object)

### Reshape Method

In [4]:
arr1=np.arange(1,21)
arr1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [5]:
arr2=arr1.reshape((4,5))
print(f"arr2 \n{arr2}")

arr2
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]
 [16 17 18 19 20]]

### Using the following attributes : type, ndim, shape, size, data, dtype and itemsize for array2

In [6]:
print(f"The type of arr2 is {type(arr2)}")

The type of arr2 is <class 'numpy.ndarray'>

In [7]:
print(f"The number of axes/dimensions of arr2 is {arr2.ndim}")

The number of axes/dimensions of arr2 is 2

In [8]:
print(f"The dimensions of arr2 is {arr2.shape}")

The dimensions of arr2 is (4, 5)

In [9]:
print(f"The total number of elements in arr2 are {arr2.size}")

The total number of elements in arr2 are 20

In [10]:
print(f"The buffer containing the actual elements of arr2 : {arr2.data}")

The buffer containing the actual elements of arr2 : <memory at 0x000001CD348CDEE0>

In [11]:
print(f"The size in bytes of each element of arr2 is {arr2.itemsize}")

The size in bytes of each element of arr2 is 4

In [12]:
print(f"The type of the elements in arr2 are {arr2.dtype}")

The type of the elements in arr2 are int32

In [13]:
arr3=np.array([[1,2,3],[3,4,5]], dtype=complex )
arr3

array([[1.+0.j, 2.+0.j, 3.+0.j],
       [3.+0.j, 4.+0.j, 5.+0.j]])

In [14]:
arr4=np.array([[1,2,3],[3,4,5],[10,12,13]], dtype=float )
arr4

array([[ 1.,  2.,  3.],
       [ 3.,  4.,  5.],
       [10., 12., 13.]])

### 2D Array again can be reshaped to 1D Array

In [15]:
arr_2d=np.arange(20).reshape(5,4)
arr_2d

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [16]:
arr_1d=arr_2d.reshape(20)
arr_1d

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

### Reshaping a 2D array to 3D array

In [17]:
arr2d = np.arange(64).reshape(8,8)
arr2d

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

In [18]:
arr3d = arr2d.reshape(4,4,4)  #(depth, rows,columns)
arr3d

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23],
        [24, 25, 26, 27],
        [28, 29, 30, 31]],

       [[32, 33, 34, 35],
        [36, 37, 38, 39],
        [40, 41, 42, 43],
        [44, 45, 46, 47]],

       [[48, 49, 50, 51],
        [52, 53, 54, 55],
        [56, 57, 58, 59],
        [60, 61, 62, 63]]])

### Create a Python Range into Numpty Array

In [19]:
arr5=np.array(range(21))
print(arr5)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

### Using method "arange" starting at 0 and with 15 values

In [20]:
arr6=np.arange(15)
arr6

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

Starting from 0 to 15 with increment by two steps using "arange"

In [21]:
arr6=np.arange(0, 15, 2)  
arr6

array([ 0,  2,  4,  6,  8, 10, 12, 14])

Starting from 15 to 0 (counting down) using "arange"

In [22]:
# Starting from 10 to 0 (counting down)
arr7=np.arange(15, 0, -1)
arr7

array([15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

### Using Random Function

In [23]:
r1=np.random.rand((10))
r1

array([0.57656953, 0.68636462, 0.52375922, 0.97988888, 0.11488001,
       0.12634138, 0.10937371, 0.63544815, 0.76835266, 0.70227824])

### Psuedo Random Number Generator

In [24]:
np.random.normal(size=(3,3))

array([[ 1.55924426, -0.20081932, -1.4506961 ],
       [ 0.62736017,  1.81390128, -0.29352345],
       [ 0.12142215, -1.15632554, -2.30761057]])

In [25]:
np.random.uniform(size=(2,5))

array([[0.58659289, 0.19048991, 0.34831854, 0.88618469, 0.99842245],
       [0.65184809, 0.23232241, 0.25185955, 0.17821023, 0.39433311]])

### Using Method linspace

In [26]:
# evenly spaced spaces between two intervals
arr8=np.linspace(0, 10, 20)
arr8

array([ 0.        ,  0.52631579,  1.05263158,  1.57894737,  2.10526316,
        2.63157895,  3.15789474,  3.68421053,  4.21052632,  4.73684211,
        5.26315789,  5.78947368,  6.31578947,  6.84210526,  7.36842105,
        7.89473684,  8.42105263,  8.94736842,  9.47368421, 10.        ])

### Using Array Creation functions

### zeros : 
Return a new array setting all values to zerp

In [27]:
z=np.zeros(10) # 1 dimension
z

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [28]:
z=np.zeros((2,3)) # 2 Dimension
z

array([[0., 0., 0.],
       [0., 0., 0.]])

In [29]:
z=np.zeros((5,5))
z

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

### zeros_like:
Return an array of zeros with the same shape and type as a given array.

In [30]:
z1=np.arange(20).reshape(4,5)
z1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [31]:
np.zeros_like(z1)

array([[0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

In [32]:
z2=np.arange(3, dtype=float)
z2

array([0., 1., 2.])

In [33]:
np.zeros_like(z2)

array([0., 0., 0.])

### ones:
Return a new array setting values to one

In [34]:
x=np.ones((4,5))
x

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [35]:
np.ones( (2,3,4), dtype=np.int16 )

array([[[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]],

       [[1, 1, 1, 1],
        [1, 1, 1, 1],
        [1, 1, 1, 1]]], dtype=int16)

### ones_like:
Return an array of ones with shape and type of input array

In [36]:
y= np.arange(3, dtype=float)
y

array([0., 1., 2.])

In [37]:
np.ones_like(y)

array([1., 1., 1.])

### empty:
Return a new uninitialized array.

In [38]:
np.empty((2,3))

array([[1., 2., 3.],
       [3., 4., 5.]])

### empty_like:
Return a new array with the same shape and type as a given array

In [39]:
e= np.array([[1,2,3,4],[5,5,5,7]])
e

array([[1, 2, 3, 4],
       [5, 5, 5, 7]])

In [40]:
np.empty_like(e)

array([[ 41680979,  90899300,  41695346, 174982781],
       [   721532,   1311100,  73664125,  23332220]])

### full:
Return a new array of given shape and type, filled with fill_value

In [41]:
np.full((2, 2, 3), 100)

array([[[100, 100, 100],
        [100, 100, 100]],

       [[100, 100, 100],
        [100, 100, 100]]])

In [42]:
np.full((3, 3), True, dtype=bool)
# 3×3 numpy array of all True’s using full

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

### full_like:
Return a full array with the same shape and type as a given array

In [43]:
f=np.arange(6, dtype=int)
f

array([0, 1, 2, 3, 4, 5])

In [44]:
np.full_like(f, 10)

array([10, 10, 10, 10, 10, 10])

### Printing Arrays:

In [45]:
print(np.arange(10000))

[   0    1    2 ... 9997 9998 9999]

In [46]:
print(np.arange(10000).reshape(100,100))

[[   0    1    2 ...   97   98   99]
 [ 100  101  102 ...  197  198  199]
 [ 200  201  202 ...  297  298  299]
 ...
 [9700 9701 9702 ... 9797 9798 9799]
 [9800 9801 9802 ... 9897 9898 9899]
 [9900 9901 9902 ... 9997 9998 9999]]

# Arithmetic with NumPy Arrays

NumPy arrays will vectorize many mathematical operators i.e Addition, Multiplication, Subtraction, Division etc

In [47]:
a1 = np.arange(0, 10)
a1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [48]:
a2 = np.arange(20, 30)
a2

array([20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [49]:
print(f"Addition of a1 and a2 is {a1+a2}")

Addition of a1 and a2 is [20 22 24 26 28 30 32 34 36 38]

In [50]:
print(f"Subtraction of a1 and a2 is {a1-a2}")

Subtraction of a1 and a2 is [-20 -20 -20 -20 -20 -20 -20 -20 -20 -20]

In [51]:
print(f"Multiplication of a1 and a2 is {a1*a2}")

Multiplication of a1 and a2 is [  0  21  44  69  96 125 156 189 224 261]

In [52]:
print(f"Division of a1 and a2 is {a1/a2}")

Division of a1 and a2 is [0.         0.04761905 0.09090909 0.13043478 0.16666667 0.2
 0.23076923 0.25925926 0.28571429 0.31034483]

### Numerical Methods of NumPy Array

In [53]:
n=np.arange(10,19).reshape(3,3)
n

array([[10, 11, 12],
       [13, 14, 15],
       [16, 17, 18]])

### Using min, max, argmin, argmax, axis functions

In [54]:
print("The minimum value of entire matrix is {}".format(n.min()))
print("The maximum value of entire matrix is {}".format(n.max()))

The minimum value of entire matrix is 10
The maximum value of entire matrix is 18

In [55]:
print("The Position of minimum value is at {} ".format(n.argmin()))
print("The Position of maximum value is at {}".format(n.argmax()))

The Position of minimum value is at 0
The Position of maximum value is at 8

In [56]:
print("{} is the minimum down each column ".format(n.min(axis= 0)))
print("{} is the mimimum across each row  ".format(n.min(axis= 1)))

[10 11 12] is the minimum down each column
[10 13 16] is the mimimum across each row

In [57]:
print("{0} is the maximum down each column ".format(n.max(axis= 0)))
print("{0} is the maximum across each row ".format(n.max(axis= 1)))

[16 17 18] is the maximum down each column
[12 15 18] is the maximum across each row

### Statistical Functions:

### Using sum(), prod(), cumsum(), cumprod() and mean() functions

In [58]:
s=np.arange(9).reshape(3,3)
s

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [59]:
print(f"The sum of array is {s.sum()} and the Product of array is {s.prod()}")

The sum of array is 36 and the Product of array is 0

In [60]:
print(f"The sum of array is {s.cumsum()} \nThe Product of array is {s.cumprod()}")

The sum of array is [ 0  1  3  6 10 15 21 28 36]
The Product of array is [0 0 0 0 0 0 0 0 0]

In [61]:
print(f"The mean of array is {s.mean()} ")

The mean of array is 4.0

In [62]:
print(f"The median of array is {np.median(s)} ")

The median of array is 4.0

In [63]:
print(f"The Standard deviation of array is {np.std(s)} ")

The Standard deviation of array is 2.581988897471611

In [64]:
print(f"The Variance of array is {np.var(s)} ")

The Variance of array is 6.666666666666667

In [65]:
print(f"The average is {np.average(s)}")

The average is 4.0

### Linear Algera Functions

In [66]:
l1=np.random.randn(3,2)
l1

array([[-0.58773158,  0.66709612],
       [ 0.47708448,  0.84969601],
       [-1.27778112, -0.7035928 ]])

In [67]:
l2=np.random.randn(2,3)
l2

array([[-0.79199226, -0.05841983,  1.24627461],
       [ 0.274152  ,  0.15992967, -0.58942146]])

In [68]:
print(f"The transpose of l2 is \n {l2.transpose()}")

The transpose of l2 is
 [[-0.79199226  0.274152  ]
 [-0.05841983  0.15992967]
 [ 1.24627461 -0.58942146]]

In [69]:
print(f"The dotproduct is \n {l1.dot(l2)}")

The dotproduct is
 [[ 0.64836459  0.14102364 -1.12567571]
 [-0.14490136  0.10802041  0.09374921]
 [ 0.81910139 -0.03787761 -1.17775346]]

### Element Wise Array Function

In [70]:
u=np.array([1, 9, 16, 25, 64, 81])
u

array([ 1,  9, 16, 25, 64, 81])

In [71]:
print(f"The exponential of array is {np.exp(u)}")

The exponential of array is [2.71828183e+00 8.10308393e+03 8.88611052e+06 7.20048993e+10
 6.23514908e+27 1.50609731e+35]

In [72]:
print(f"The square root of array is {np.sqrt(u)}")
np.sqrt(u)

The square root of array is [1. 3. 4. 5. 8. 9.]

array([1., 3., 4., 5., 8., 9.])

In [73]:
print(f"Power of array is {np.power(u, 2)}")

Power of array is [   1   81  256  625 4096 6561]

### np.where Method (like Ternanry Operator)

In [74]:
a = np.arange(100,120)
a

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119])

In [75]:
b = np.arange(100,140,2)
b

array([100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124,
       126, 128, 130, 132, 134, 136, 138])

In [76]:
np.where(a==b)

(array([0], dtype=int64),)

### np.all() and np.any() Method

In [77]:
m=np.arange(0,100,15)
m

array([ 0, 15, 30, 45, 60, 75, 90])

In [78]:
m > 45

array([False, False, False, False,  True,  True,  True])

any() method test whether any array element along a given axis evaluates to True

In [79]:
m.any()

True

all() method test whether all array elements along a given axis evaluate to True

In [80]:
m.all()

False

### np.nonzero() Method

Return the indices of the elements that are non-zero.

In [81]:
z=np.arange(12).reshape(3,4)
z

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [82]:
np.nonzero(z)

(array([0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2], dtype=int64),
 array([1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3], dtype=int64))

### sort() and unique() Method

Return a sorted copy of an array.

In [83]:
s= np.array([1,-2,3,0,98,14,12,13,5,14,78,12,13])
s

array([ 1, -2,  3,  0, 98, 14, 12, 13,  5, 14, 78, 12, 13])

In [84]:
s.sort()
s

array([-2,  0,  1,  3,  5, 12, 12, 13, 13, 14, 14, 78, 98])

Return only unique elements. No repition of elements observed

In [85]:
np.unique(s)

array([-2,  0,  1,  3,  5, 12, 13, 14, 78, 98])

### np.ravel() Method:
It directly converts the array to 1d only

In [86]:
arr2d = np.arange(9).reshape(3,3)
arr2d

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [87]:
ravel_arr1d = arr2d.ravel()
ravel_arr1d

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

Even though .reshape() and .ravel() donot change the shape of original array/matrix They do actually return ID view into the specified array/matrix.If we change an element in this view, the value in original is also changed

In [88]:
# if we add 999 at the zeroindex

ravel_arr1d[0] = 99
ravel_arr1d

array([99,  1,  2,  3,  4,  5,  6,  7,  8])

In [89]:
arr2d 
#Original array is changed

array([[99,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8]])

### np.flatten() Method: 
It directly converts the array to 1d only. Very much similar to .ravel(). Instead it returns a new array with copied data instead of view. Changes to result donot change the original data

In [90]:
arr2 = np.arange(64).reshape(8,8)
arr2

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

In [91]:
flatten_arr = arr2.flatten()
flatten_arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63])

In [92]:
flatten_arr[0]=999
flatten_arr

array([999,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63])

In [93]:
arr2

array([[ 0,  1,  2,  3,  4,  5,  6,  7],
       [ 8,  9, 10, 11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29, 30, 31],
       [32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47],
       [48, 49, 50, 51, 52, 53, 54, 55],
       [56, 57, 58, 59, 60, 61, 62, 63]])

### np.size() Danger Method
Similar to .reshape() method, except that while reshaping it returns a new array with data copied into it, .resize() performs an in-place reshaping of array.

In [94]:
new_array= np.arange(0,9).reshape(3,3)
new_array

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [95]:
resize_array = new_array.resize(1,9)
resize_array

#it is returning none
#but change the original data

In [96]:
new_array

array([[0, 1, 2, 3, 4, 5, 6, 7, 8]])

### eye() Method

Here diagonal elements are 1,the rest are 0.

In [97]:
eye = np.eye(3)
print(eye)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

### concatenate() Method

In [98]:
c=[1,3,5],[7,9,0]
c1=np.array(c)
c1

array([[1, 3, 5],
       [7, 9, 0]])

In [99]:
c=[1,33,5],[17,19,0]
c2=np.array(c)
c2

array([[ 1, 33,  5],
       [17, 19,  0]])

#### Row Concatenation by taking axis (axis=0)

In [100]:
np.concatenate((c1,c2),axis=0)

array([[ 1,  3,  5],
       [ 7,  9,  0],
       [ 1, 33,  5],
       [17, 19,  0]])

#### Row concatenation by using vstack()

In [101]:
np.vstack((c1,c2))

array([[ 1,  3,  5],
       [ 7,  9,  0],
       [ 1, 33,  5],
       [17, 19,  0]])

#### Coloumn Concatenation by taking axis (axis=1)

In [102]:
np.concatenate((c1,c2),axis=1)

array([[ 1,  3,  5,  1, 33,  5],
       [ 7,  9,  0, 17, 19,  0]])

#### Coloumn concatenation by using hstack()

In [103]:
np.hstack((c1,c2))

array([[ 1,  3,  5,  1, 33,  5],
       [ 7,  9,  0, 17, 19,  0]])

### Split() Method

In 1 Dimensional array :

In [104]:
s1=np.array([1,10,2,3,4,5,6,7,9])
s1

array([ 1, 10,  2,  3,  4,  5,  6,  7,  9])

In [105]:
np.split(s1,[2,5])

[array([ 1, 10]), array([2, 3, 4]), array([5, 6, 7, 9])]

In 2 Dimensional array :

In [106]:
s2=np.array([[1,2,3,4,5,6,7,9],[12,3,4,5,6,7,8,8]])
s2

array([[ 1,  2,  3,  4,  5,  6,  7,  9],
       [12,  3,  4,  5,  6,  7,  8,  8]])

In [107]:
np.split(s2,[4,6],axis=1) #colomn wise split. split used in 4th and 6th colomn

[array([[ 1,  2,  3,  4],
        [12,  3,  4,  5]]),
 array([[5, 6],
        [6, 7]]),
 array([[7, 9],
        [8, 8]])]

In [108]:
np.split(s2,[1],axis=0) #row split

[array([[1, 2, 3, 4, 5, 6, 7, 9]]), array([[12,  3,  4,  5,  6,  7,  8,  8]])]

### Tile and Repeat Method

In 1 Dimensional array :

In [109]:
r1=np.array([1,5,7,8])

In [110]:
np.repeat(r1,3)

array([1, 1, 1, 5, 5, 5, 7, 7, 7, 8, 8, 8])

In [111]:
np.tile(r1,3)

array([1, 5, 7, 8, 1, 5, 7, 8, 1, 5, 7, 8])

In 2 Dimensional array :

In [112]:
r2=np.arange(20).reshape(4,5)
r2

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [113]:
np.repeat(r2,3)

array([ 0,  0,  0,  1,  1,  1,  2,  2,  2,  3,  3,  3,  4,  4,  4,  5,  5,
        5,  6,  6,  6,  7,  7,  7,  8,  8,  8,  9,  9,  9, 10, 10, 10, 11,
       11, 11, 12, 12, 12, 13, 13, 13, 14, 14, 14, 15, 15, 15, 16, 16, 16,
       17, 17, 17, 18, 18, 18, 19, 19, 19])

In [114]:
np.tile(r2,3)

array([[ 0,  1,  2,  3,  4,  0,  1,  2,  3,  4,  0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9,  5,  6,  7,  8,  9,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 10, 11, 12, 13, 14, 10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19, 15, 16, 17, 18, 19, 15, 16, 17, 18, 19]])

### numpy.r_ Method

Translates slice objects to concatenation along the first axis. Simply row wise merging

In [115]:
np.r_[np.array([1,2,3]), 0, 0, np.array([4,5,6])]

array([1, 2, 3, 0, 0, 4, 5, 6])

In [116]:
np.r_[-1:1:6j, [0]*3, 5, 6]

array([-1. , -0.6, -0.2,  0.2,  0.6,  1. ,  0. ,  0. ,  0. ,  5. ,  6. ])

### numpy.intersect1d Method

Find the intersection of two arrays.Return the sorted, unique values that are in both of the input arrays.

In [117]:
arr1 = np.array([1,2,3,2,3,4,3,4,5,6,6,6])
arr2 = np.array([7,2,10,2,7,4,9,4,9,8,6,1])

In [118]:
np.intersect1d(arr1,arr2)

array([1, 2, 4, 6])

### np.diffId() Method

Find the set difference of two arrays. Return the unique values in ar1 that are not in ar2.

In [119]:
np.setdiff1d(arr1,arr2)

array([3, 5])